body {
    background-image: url(../images/art-background4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: aliceblue;
    width: 20em;
    max-width: 25em;
    margin: 0em 0em 0em 6em;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
}

h1 {
    font-family: "Six Caps";
    font-size: 47px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 51.7px;
}

article {
    width: 25em;
    max-width: 25em;
    margin: 5em 6em 1.5em 6em;
    background-color: rgba(255, 255, 255, .5);
}

.h2 {
    background-color: rgba(255, 255, 255, .6);
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 0.3em;
    padding-left: 0.3em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.p1 {
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

    margin: 2em 0.1em 1.5em 0.1em;
}

.p2 {
    background-color: rgba(10, 10, 10, 0.397);
    width: 10em;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.2em;
    margin-left: 1em;
}

footer {
    background-color: rgb(255, 255, 255);
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}